@include display;
.content{
    background-color:$contentBGC;
    h2{
        color: #424242;
        font-size: $font_size_1d7;
        text-align: center;

    }
    .list{
        @include BMIrecord(){
            // border-left: 7px solid $BMI_color_lightgreen;
        };
    }
    .container{
        text-align: center;
        button{
            // display: block;
            background-color: red;
            outline: none;
            color:white;
            border: none;
            border-radius:4px;
            padding: 8px;
            &:hover{
                background-color: rgb(255, 34, 34);
                }
            &:active{
                    background-color: rgb(187, 88, 88);
                }
        }
    
    }

    
}

