// BMI various color 
$BMI_color_lightgreen :#86D73F;
$BMI_color_lightblue : #31BAF9;
$BMI_color_orange1 : #FF982D ;
$BMI_color_orange2:#FF6C02;
$BMI_color_red:#FF1200;


//font size
$font_size_base:12px;
$font_size_1d5:ceil(1.5*$font_size_base);
$font_size_1d7:ceil(1.7*$font_size_base);
$font_size_2d:ceil(2*$font_size_base);

